In [4]:
import sys
import os
import pandas as pd

path = os.path.abspath('../..')
if path not in sys.path:
    sys.path.insert(0, path)
    
sys.path

from primer3plus.utils import reverse_complement as rc
import primer3
from aqbt.contrib.uwbf import primer_utils
from aqbt import AquariumBuildTools
aqtools = AquariumBuildTools.from_toml('creds.secret.toml')
aqtools.sessions

aq = aqtools.sessions['production']['aquarium']

In [1]:
import pandas as pd

layout = pd.read_clipboard()

In [2]:
layout

,UWBF Collection ID:,1,2,3,4,5,6,7,8,9,10,11,12
0,A,UWBF_6390,UWBF_24864,UWBF_36564,UWBF_36564,UWBF_36564,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,B,UWBF_6390,NaN,UWBF_36565,UWBF_36565,UWBF_36565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C,UWBF_6390,NaN,UWBF_36566,UWBF_36566,UWBF_36566,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,D,UWBF_23970,NaN,UWBF_36567,UWBF_36567,UWBF_36567,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E,UWBF_23970,Strateos,UWBF_36568,UWBF_36568,UWBF_36568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,F,UWBF_23970,Strateos,UWBF_36569,UWBF_36569,UWBF_36569,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,G,UWBF_24864,Strateos,UWBF_36570,UWBF_36570,UWBF_36570,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,H,UWBF_24864,Strateos,UWBF_36571,UWBF_36571,UWBF_36571,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
plate = aq.Collection.new(
    object_type=aq.ObjectType.find_by_name('96 Well PCR Plate')
)

for r, (_, row) in enumerate(layout.iterrows()):
    
    for c, sid in enumerate(row.values):
        c = c-1
        if isinstance(sid, str) and 'UWBF' in sid:
            sid = sid.split('UWBF_')[-1]
            plate.sample_id_matrix[r, c] = int(sid)

In [6]:
matrix = []

for row in plate.sample_id_matrix.data:
    row_ids = []
    for x in row:
        if x is not None:
            row_ids.append(x.part.sample_id)
        else:
            row_ids.append(None)
    matrix.append(row_ids)

import numpy as np

pd.DataFrame(matrix)

,0,1,2,3,4,5,6,7,8,9,10,11
0,6390,24864.0,36564,36564,36564,None,None,None,None,None,None,None
1,6390,NaN,36565,36565,36565,None,None,None,None,None,None,None
2,6390,NaN,36566,36566,36566,None,None,None,None,None,None,None
3,23970,NaN,36567,36567,36567,None,None,None,None,None,None,None
4,23970,NaN,36568,36568,36568,None,None,None,None,None,None,None
5,23970,NaN,36569,36569,36569,None,None,None,None,None,None,None
6,24864,NaN,36570,36570,36570,None,None,None,None,None,None,None
7,24864,NaN,36571,36571,36571,None,None,None,None,None,None,None

In [7]:
plate.save()

In [8]:
plate.id

516627